
<div class="col-md-5 column">
  <h3>
    LOGIN
  </h3>
  <h6>

    Vous avez déjà un compte？sinon, click ici!
    <a routerLink="/register-demo" routerLinkActive="activebutton">Register</a>
  </h6>
  <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="username">Username</label><input type="username" class="form-control" id="username" formControlName="username" />
    </div>
    <div class="form-group">
      <label for="password">Password</label><input type="password" class="form-control" id="password" formControlName="password" />
    </div>

    <button type="submit" class="btn btn-success">Submit</button>
    <div class="form-group ">
      <div class="col-sm-offset-2 col-sm-10 ">
        <!-- <button class="btn btn-default " routerLink="/register-demo">Sign up</button> -->
      </div>
    </div>
  </form>
</div>
